In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
from helper import *

In [ ]:
path='/home/rachel/Galvanize/capston1/data/'

In [4]:
df = pd.read_json(path+'COAL.json', orient = 'index').iloc[:1000,:]

In [5]:
type(df)

pandas.core.frame.DataFrame

useful data (quarterly/annual ash content) is nested in a dictionary inside the data column of each row.

The functions from the helper.py, used below, expands the coal df to include all the possible keys in the data dictionaries , and fills rows with the corresponding values from the dictionary.

In [6]:
all_keys = all_keys(df)  # all possible yea values (years)
data_df = data_to_df(all_keys,df) # creates a data_df filled with zeros with cols=allkeys.
new_df = concat_to_df(df,data_df)  # concats the data_df to the main df
fill_data_vals(new_df) # uses the dictionary for each row to fill te new columns

In [12]:
new_df.iloc[:,-86:]

,2002Q1,2013Q2,2014Q4,2013Q1,2011Q2,2012,2016,2000,2014Q3,2006Q3,...,2008Q2,2013Q4,2012Q3,2012Q2,2009Q4,2012Q1,2008Q3,2008Q4,2000Q2,2009Q3
0,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.0,0.000000,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
1,0.00,11.335796,13.237455,12.382289,13.119719,0.00,0.00,0.0,13.733827,0.00,...,16.174050,13.930242,12.518092,11.599364,15.155350,13.459852,15.407491,15.562143,0.0,15.066976
2,0.00,4.828248,4.880440,4.866663,4.983788,0.00,0.00,0.0,4.946869,0.00,...,5.216381,4.856197,4.984614,4.987563,5.222586,4.901699,5.198400,5.217549,0.0,5.151229
3,7.49,8.480000,7.580000,8.800000,NaN,0.00,0.00,0.0,7.730000,7.68,...,9.050000,9.210000,NaN,NaN,NaN,NaN,8.690000,10.230000,0.0,NaN
4,0.00,8.089866,7.683500,7.732548,7.083654,0.00,0.00,0.0,7.813301,0.00,...,6.174875,6.732324,7.769639,7.659453,7.134017,7.724420,7.005193,7.196884,0.0,7.013073
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.0,0.000000,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
996,0.00,0.000000,0.000000,0.000000,0.000000,0.00,73.03,0.0,0.000000,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
997,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.0,0.000000,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
998,0.00,0.000000,0.000000,0.000000,0.000000,159.23,0.00,0.0,0.000000,0.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
999,0.00,139.710000,0.000000,136.990000,172.370000,0.00,0.00,0.0,0.000000,0.00,...,0.000000,0.000000,158.290000,155.010000,0.000000,208.650000,213.190000,0.000000,0.0,0.000000